<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qixiang.codetoy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".StudentInfoForApplyActivity">
            <intent-filter>
                <action android:name="com.qixiang.bleskip.android_intent" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".StudentDetailInfoActivity">
            <intent-filter>
                <action android:name="com.qixiang.bleskip.detailinfo" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".StuDetailForTeachActivity" />
        <activity android:name=".SQLiteActivity" />
        <activity
            android:name=".BleDataActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".BleConnectActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".LoginActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".BLE.BLEService" />

        <activity
            android:name=".ControllerActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".ControllerProActivity"
            android:screenOrientation="landscape">

        </activity>
        <activity
            android:name=".ControlMainAct"
            android:screenOrientation="landscape"
            android:theme="@style/theme_fullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DrawActivity"
            android:screenOrientation="landscape"
            android:theme="@style/theme_fullScreen">

        </activity>
        <activity
            android:name=".PKActivity"
            android:screenOrientation="landscape"
            android:theme="@style/theme_fullScreen"></activity>
        <activity android:name=".CodingActivity"
            android:screenOrientation="landscape"
            android:theme="@style/theme_fullScreen">

        </activity>
    </application>

</manifest>